build/
*.png
*.ppm
re/trace/
re/ghidra/proj/
re/amprog.bin
re/kernel.bin
re/pipeline/
extras/hol/swiv.html
options.txt
re/amprog.asm
re/kernel.asm
re/handlers_group*.asm
re/ghidra/swiv_decomp.c
re/ghidra/proj/
android/app/src/main/assets/
a
droid/.gradle/

a
droid/app/build/

a
droid/build/

a
droid/local.properties

a
droid/.cxx/
